body {
  background-color: rgb(230, 173, 213);
  font-family: Arial, Helvetica, sans-serif;
}
header{
  color: black;
  font-size: medium;
}

main{
  
  border: 5px double black;
  color: midnightblue;
  font-size: larger;


}

p1 
 
}
footer { 
 
}
